
.card{
    display:flex;
    flex-direction: row;

}
.connector{ 
    margin-left:2px;
    border-left: 1px solid #575755;
}
.content{
    display: flex;
    flex-direction: column;
    margin-top:.5rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
}
.time{
    display: flex;
    flex-direction: row;
}
.time:hover{
    color: #28e98c;
}
.icon{
    height: .3rem;
    width: .3rem;
    margin-right: .4rem;
    margin-top:.5rem;
    background-color: #fff;
    border-radius:99999px;
    border: 1px solid #fff;
}
.icon:hover{
    background-color:#28e98c;
}
.icon_init{
    height: .3rem;
    width: .3rem;
    margin-right: .4rem;
    margin-top:.5rem;
    background-color: #575755;
    border-radius:50%;
    border: 1px solid #fff;
}
.icon_init:hover{
    background-color:#28e98c;
}
.company{
    margin-top: 1rem;
}
.visible{
    position:relative;
    opacity: 0;
    transform: translateX(8rem);
    animation: fadeInRight 5s ease-out forwards;
  
}
.time_invisible{
    opacity:0;
}
    @keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(8rem);
    }
    to {
        opacity: 1;
        transform: translateX(8rem);
    }
    }
    @keyframes scrollText {
    0% {
        transform: translateX(150%);
        opacity:0;
    }
    20% {
        transform: translateX(150%);
        opacity:0.3;
    }
    30% {
        transform: translateX(150%);
        opacity:.4;
    }
    70% {
        transform: translateX(150%);
        opacity:.5;
    }
    80% {
        transform: translateX(150%);
        opacity:.7;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
    .complement{
        transform: translateX(0);
        opacity: 1;
    }
}